body{
	margin: 0;
}
.text{
	font-family: "Roboto", sans-serif;
	word-wrap: break-word;
}
.f-desc .text p{
	color: #5e5e5e;
	font-size:115%;
}

.text p{
	color:#5e5e5e;
	font-size:105%;
}
img{
	border-radius: 12px;
}
.navbar {
	text-align:center;
	overflow: auto;
	background-color: rgb(0, 128, 0);
	position: fixed;
	top: 0;
	z-index:1;
	width: 100%;
	margin:0;
	padding:1%; 
}
.navbar #logo{
	width: 18%;
	margin:auto;
}
.navbar #logo:hover{
	transform:scale(1.05);	
}
.navbar #button{
	position: absolute;
    top: 20%;
    right: 3.5%;
	background-color:#00600a;
	color:white;
	border-radius: 7px;
	border: 1px solid #FFDF00;
	font-size: 140%;
	font-weight:500;
	padding:0.8%;
	}
.navbar #button:hover{
	box-shadow: 0 2px 2px 2px #222222;
	color:white;	
	background-color:#002599;
	transform:scale(1.1);
}
.content{
	width:100%;
	margin-top:6%;
}
.message img{
	width:100%; 
	height:auto; 
	display:block;
	border-radius: 0;
}
.message .text {
	position: absolute;
	top: 18%;
	left: 0%;
	color:white;
	padding:1%;
	padding-right:2%;
	padding-left:10%;
	text-align: left;
	font-family: "Coda+Caption", sans-serif;
	font-size:300%;
	font-weight: 900;
	line-height:120%;
	letter-spacing:3.5px;
	transform: scale(0);
	transition: transform 1s;
	background-color:black;
	opacity:0.60;
}
.description, .places, .whyReadyGo{
	width:94%;
	overflow:auto; 
	padding:3%;
}
.description, .places{
	background-color:white;
}			
.description{
	border-top:1.5px #ebebeb solid;
}
.description img{
	width:100%; 
	border:2px black solid;
}
.description .text{
	width:58%; 
	float:left;
	padding-right:2%;
	margin:auto;
	word-spacing:180%;
	line-height:160%;
}
.description .image{
	width:38%; 
	float:right;
	margin:auto;
}
.rate-chart-banner{
	padding:8%;
	padding-top:5%;padding-bottom:5%; 	
	background-color:#f5f5f5;
	border-top:1.5px #ebebeb solid;
	border-bottom:1.5px #ebebeb solid;
}
.row{
	display:inline-block;
	width:100%;
}
.rate-chart{
	border:4px green solid;
	border-radius: 20px;
	background:white;
}
.rate-chart img{
	width:75%;
	display:block;
	margin:auto;
	border-radius:0%;
	border:1.5px #d3d3d3 solid;
	margin-bottom:2%;
}
.thumbnail-left{
	width:48%;
	margin:auto;
	margin-bottom:2%;	
	background-color:white;
	border:1px #d3d3d3 solid;
	float:left;
	overflow-y:auto;
}
.thumbnail-right{
	width:48%;
	margin:auto;
	margin-bottom:2%;
	background-color:white;
	border:1px #d3d3d3 solid;
	float:right;
	overflow-y:auto;
}
.places h1, .whyReadyGo h1, .rate-chart h1{
	font-family:"Open+Sans+Condensed",sans-serif;
	font-size:225%;
	font-weight:bold;
	text-align:center;
	width:85%;
	margin-left:auto;
	margin-right:auto;
	padding-bottom:1.5%;
	border-bottom: 1px green solid;
}
.places {
	opacity:0;
}
.places h3, .places p{
	margin: 0;
}
.places .image{
	width:33%;
	float:left; 
	padding:1%;
}
.places .text{
	width:63%; 
	float:right; 
	padding:1%;	
}
.whyReadyGo .text{
	padding-left:10%;
	padding-right:10%;
}

.whyReadyGo .image{
	width:100%; 
	margin-top:4%;	
}
.places img, .whyReadyGo img{
	width:100%;
}
.whyReadyGo-banner{
	background-color:#f5f5f5; 
	background-size:cover; 
	background-repeat: no-repeat;
	border-top:1.5px #ebebeb solid;
	border-bottom:1.5px #ebebeb solid;
	margin:auto;	
	margin-top:1%;
}
.whyReadyGo img{
	width:20%; 
	margin:auto; 
	display:block;
	padding:2%; 
	border:2px green solid;
	border-radius: 50%;	
}
.whyReadyGo .row{
	width:95%;
	margin-left:2.5%;
	margin-right:2.5%;
}
.whyReadyGo .thumbnail-left, .whyReadyGo .thumbnail-right{
	border:1px #9e9e9e solid;
	background-color: #f5f5f5;
}
.footer{
	overflow:auto;
	background-color:#1D6300;
	padding:2%;
	padding-top:1%;
}
.copyright-footer{
	color:white;
	font-size:110%;
	background-color:black;
	text-align:center;
	padding:1.5%;
	padding-bottom:1%;
}
.dname{
	color:#FFDF00;
	display:inline;
}
.col{
	width:30%;
	padding:1.5%;
	display:inline-block;
	float:left;
	font-family:'Roboto',sans-serif;
}
.col h3{
	text-transform:uppercase;
	color:white;
	margin:0 0 1em 0;
	font-weight: 700;
	letter-spacing:1px;
}
.col li, .col a, .col p{
	color:#FEC303;
	line-height: 28px;
    font-size: 13px;
    margin:0 0 10px;
}
.col a{
	text-decoration:none;
}
.col ul{
	padding:0;
}
.col li{
	list-style:none;	
}
.col p{
	margin:0 0 4% 4%;
	display:inline-block;
}
.col .adam{
	float: right;
    margin-top: 20px;
}
.col p span{
	display:block;
}
.fa{
	border-radius: 50%;
	padding:3%;
	background-color: #333333;
	color:white;
	vertical-align:top;
	margin-top:4px;
}
.col a .fa{	
	margin:4px 4% 0 0;
}
.fa.fa-facebook:hover{
	background-color:#5d82d2;
}
.fa.fa-twitter:hover{
	background-color:#3bbef5;
}
.fa.fa-instagram:hover{
	background-color:#c4318d;
}
.places.fadein{
    transition: opacity 2s;
    opacity:1;
}
.text.zoom{
	transform:scale(1);
}

@media (max-width:769px){
	.navbar #logo{
		width:30%;
	}
	.navbar #button{
		font-size:130%;
		font-weight:300;
	}
	.message .text{
		top:20%;
		font-size: 150%;
		font-weight:400;
	}
	.content{
		margin-top:9%;
	}
	.description .text{
		font-size:90%;
	}
	.places h1, .whyReadyGo h1, .rate-chart h1{
		font-size:180%;
	}
}
@media (max-width:525px){
	.thumbnail-left, .thumbnail-right{
		float:none;
		width:96%;
	}
	.places .image, .places .text{
		float:none;
		width:98%;
		display:inline-block;		
	}
	.description .image, .description .text{
		float:none;
		width:98%;
		display:inline-block;		
	}
	.col{
		float:none;
		width:99%;
	}
	
	.navbar #logo{
		width:50%;
	}
	.navbar #button{
		font-size:130%;
		font-weight:300;
	}
	.message .text{
		top:15%;
		font-size: 120%;
		font-weight:200;
	}
	.content{
		margin-top:13.5%;
	}
	.places h1, .whyReadyGo h1, .rate-chart h1{
		font-size:130%;
	}
}
@media (max-width:376px){
	.navbar #logo{
		width:50%;
	}
	.navbar #button{
		font-size:120%;
		font-weight:200;
	}
	.message .text{
		top:12%;
		font-size: 120%;
		font-weight:200;
	}
	.content{
		margin-top:13%;
	}
	.description .text{
		font-size:80%;
	}
	.places h1, .whyReadyGo h1, .rate-chart h1{
		font-size:120%;
	}
}
@media (max-width:321px){
	.navbar #logo{
		width:50%;
	}
	.content{
		margin-top:12%;
	}
	.message .text{
		top:10%;
		font-size: 100%;
		font-weight:200;
	}
	.navbar #button{
		font-size:100%;
		font-weight:200;
	}
	.places h1, .whyReadyGo h1, .rate-chart h1{
		font-size:100%;
	}
}